# Unity Generated #
Library/
Temp/
obj/
Assets/ML-Agents/Examples
SnakeAI_Data/
.idea/

# VS/ MonoDevelop#
ExportedObj/
*.svd
*.log
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.sublime-workspace
*.sublime-project
WinPixEventRuntime.dll
SnakeAI.exe
UnityPlayer.dll
